<launch>
  <param name="leap_output_pose_topic" value="/leap_hand_pose"/>

  <node name="leap_controller_node" pkg="leap_controller_capstone" type="leap_controller" output="screen">
    <param name="hand_to_sense" type="str" value="left" />
    <!-- <rosparam param="fingers_to_track_list">["thumb","index","middle","ring","pinky"]</rosparam> -->
    <rosparam param="fingers_to_track_list">["index", "thumb", "alskdjf"]</rosparam>
    <param name="relative_frame" type="str" value="/m1n6s200_link_base"/>
    <param name="x_offset_position" type="double" value="0.0" />
    <param name="y_offset_position" type="double" value="-0.42" />
    <param name="z_offset_position" type="double" value="0.0" />
  </node>


</launch>
